# Zadání 1:

Uvažuj, že zpracováváš analýzu pro softwarovou firmu. Firma má kanceláře v Praze, Plzni a Liberci. Seznam zaměstnanců pro jednotlivé kanceláře najdeš v souborech zam_praha.csv, zam_plzeň.csv a zam_liberec.csv.

- Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame). Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.
- Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).
- Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.
- Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.
- Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [1]:
import pandas

In [26]:
#načtení dat 
praha = pandas.read_csv("zam_praha.csv")
plzen = pandas.read_csv("zam_plzeň.csv")
liberec = pandas.read_csv("zam_liberec.csv")

#přidání nového sloupce s městem
praha["mesto"] = "Praha"
plzen["mesto"] = "Plzeň"
liberec["mesto"] = "Liberec"

In [28]:
#spojení do společné tabulky
zamestnanci = pandas.concat([praha, plzen, liberec], ignore_index=True)
#zamestnanci

In [89]:
#načtení tabulky platy
platy_unor = pandas.read_csv("platy_2021_02.csv")
#platy_unor

### řešení pomocí merge - jen zaměstnanci s platem

In [87]:
zamestanci_s_platy_unor = pandas.merge(zamestnanci, platy_unor, on=["cislo_zamestnance"], how = "right")
#zamestanci_s_platy_unor

### řešení pomocí join

In [88]:
zamestanci_s_platy_unor_1 = zamestnanci.join(platy_unor.set_index("cislo_zamestnance"), on="cislo_zamestnance")
#zamestanci_s_platy_unor_1

In [55]:
#porovnání tabulek - 13 zaměstnanců nepracuje v únoru
print(zamestnanci.shape)
zamestanci_s_platy_unor.shape

(56, 5)

(43, 6)

### průměrný plat zaměstnanců v jednotlivých kancelářích

In [80]:
zamestanci_s_platy_unor.groupby("mesto")["plat"].mean().round(2)

mesto
Liberec    43775.00
Plzeň      44792.86
Praha      43295.24
Name: plat, dtype: float64

---

# Zadání 2

Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

- Načti data ze souboru a ulož je do tabulky.
- Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [81]:
#načtení tabulky výkazy
vykazy = pandas.read_csv("vykazy.csv")
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

In [83]:
vykazy.groupby("project")["hours"].sum()

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64