# Zadání:

Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

- Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

- Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

- Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [1]:
import pandas

In [4]:
animals = pandas.read_csv("adopce-zvirat.csv", sep= ";")
animals

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

    Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině:

In [21]:
animals.iloc[34, 1:3]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [73]:
print(animals.iloc[34, 1])
print(animals.iloc[34, 2])

Ibis bílý
White ibis

# Nepovinný bonus

Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:
- Adopce kterých zvířat je nejdražší?
- Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

Bonus můžeš doplnit o nějaké vlastní pozorování.

    Adopce kterých zvířat je nejdražší?

In [57]:
#pomocí sort_values jsem si seřadila tabulku podle sloupce cena od největšího po nejnižší a uložila si to do nové proměnné serazena
serazena = animals.sort_values(by=["cena"], ascending=False)

#nová proměnná top_cena kde je uložená hodnota nejvyšší ceny za adobci
top_cena = serazena.iloc[1]["cena"]

#výsledná tabulka kde jsou zvířata která mají cenu adobce = top_cena
nejdrazsi_zvirata = serazena[serazena["cena"] == top_cena]

nejdrazsi_zvirata

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1

    Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [64]:
serazena_alfabeta_cz = animals.sort_values(by=["nazev_cz"], ascending=False)
serazena_alfabeta_cz 
posledni_zvire_cz = serazena_alfabeta_cz.iloc[0]["nazev_cz"]
posledni_zvire_cz

'Žluva hajní'

In [67]:
serazena_alfabeta_en = animals.sort_values(by=["nazev_en"], ascending=False)
serazena_alfabeta_en 
posledni_zvire_en = serazena_alfabeta_en.iloc[0]["nazev_en"]
posledni_zvire_en

'Yellow-necked francolin'